{
    "location": "http://localhost:8080",
    "hostname": "localhost",
    "port": 8080,
    "ssl": false,
    "users_passwords_salt": "",
    "users_token_salt": "",
    "youtube_api_key": "",
    "op": [],
    "email_transport": {
        sendmail: true,
        newline: 'unix',
        path: '/usr/sbin/sendmail'
    }
}
