{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
    },
    "extends": [
        "plugin:vue/strongly-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "prettier",
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "semi": true,
                "trailingComma": "all",
                "printWidth": 140,
                "tabWidth": 4,
                "useTabs": false,
                "bracketSpacing": true,
                "arrowParens": "always",
                "endOfLine": "auto"
            }
        ]
    }
}
