{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
    },
    "extends": [
        "plugin:vue/strongly-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "prettier",
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "semi": true,
                "trailingComma": "all",
                "printWidth": 140,
                "tabWidth": 4,
                "useTabs": false,
                "bracketSpacing": true,
                "arrowParens": "always",
                "endOfLine": "auto"
            }
        ],
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "warn",
            "always"
        ],
        "space-before-blocks": [
            "warn",
            "always"
        ],
        "padded-blocks": [
            "error",
            { "blocks": "never", "switches": "never", "classes": "never" }
        ],
        "space-infix-ops": [
            "error"
        ],
        "no-multi-spaces": [
            "error"
        ],
        "@typescript-eslint/no-explicit-any": [
            "off"
        ],
        "@typescript-eslint/no-non-null-assertion": [
            "off"
        ]
    }
}
