{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "serviceworker": true
    },
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "semi": true,
                "trailingComma": "all",
                "printWidth": 140,
                "tabWidth": 4,
                "useTabs": false,
                "bracketSpacing": true,
                "arrowParens": "always",
                "endOfLine": "auto"
            }
        ]
    },
    "globals": {
        "NodeJS": true
    }
}
