services:
  skychat_traefik:
    image: traefik:v2.9
    container_name: skychat_traefik
    command:
      - "--entrypoints.web.address=:${PUBLIC_PORT}"
      - "--api.insecure=true"
      - "--certificatesresolvers.letsencrypt.acme.tlschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.email=${ADMIN_EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--providers.file.directory=/configuration/"
      - "--providers.file.watch=true"
      - "--accesslog=true"
      - "--accesslog.filePath=/logs/access.log"
    ports:
      - ${BIND_INTERFACE}:${PUBLIC_PORT}:${PUBLIC_PORT}
    volumes:
      - skychat_letsencrypt:/letsencrypt:rw
      - ./app/traefik/dynamic.yml:/configuration/dynamic.yml:ro
    env_file:
      - .env
    environment:
      - MODE=PRODUCTION

  skychat_backend:
    container_name: skychat_backend
    cap_drop:
      - ALL
    build:
      context: .
      dockerfile: app/server/Dockerfile
      args:
        DOCKER_USER: "${DOCKER_USER}"
        DOCKER_UID: "${DOCKER_UID}"
        DOCKER_GID: "${DOCKER_GID}"
        DOCKER_TZ: "${DOCKER_TZ}"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      PUBLIC_URL: "${PUBLIC_URL}"
      USERS_PASSWORD_SALT: "${USERS_PASSWORD_SALT}"
      USERS_TOKEN_SALT: "${USERS_TOKEN_SALT}"
      YOUTUBE_API_KEY: "${YOUTUBE_API_KEY}"
      OP_LIST: "${OP_LIST}"
      OP_PASSCODE: "${OP_PASSCODE}"
      TRUSTED_IP_HEADER: "${TRUSTED_IP_HEADER}"
      ENABLED_PLUGINS: "${ENABLED_PLUGINS}"
      MAILGUN_API_KEY: "${MAILGUN_API_KEY}"
      MAILGUN_DOMAIN: "${MAILGUN_DOMAIN}"
      MAILGUN_FROM: "${MAILGUN_FROM}"
      VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}
      VAPID_PRIVATE_KEY: ${VAPID_PRIVATE_KEY}
    volumes:
      - ./config:/workdir/config
      - ./backups:/workdir/backups
      - ./storage:/workdir/storage
      - ./gallery:/workdir/gallery
      - ./uploads:/workdir/uploads
    depends_on:
      - skychat_db

  skychat_frontend:
    container_name: skychat_frontend
    cap_drop:
      - ALL
    build:
      context: .
      dockerfile: app/client/Dockerfile
    environment:
      PUBLIC_URL: "${PUBLIC_URL}"
      VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}

  skychat_static:
    container_name: skychat_static
    cap_drop:
      - ALL
    build:
      context: .
      dockerfile: app/static/Dockerfile
    volumes:
      - ./gallery:/usr/share/nginx/html/gallery:ro
      - ./uploads:/usr/share/nginx/html/uploads:ro

  skychat_db:
    container_name: skychat_db
    restart: always
    build:
      context: ./app/database
      args:
        DOCKER_USER: "${DOCKER_USER}"
        DOCKER_UID: "${DOCKER_UID}"
        DOCKER_GID: "${DOCKER_GID}"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - ./app/database/data:/var/lib/postgresql/data:rw
  
  skychat_admin_filebrowser:
    container_name: skychat_admin_filebrowser
    build:
      context: ./app/filebrowser
      args:
        DOCKER_USER: "${DOCKER_USER}"
        DOCKER_UID: "${DOCKER_UID}"
        DOCKER_GID: "${DOCKER_GID}"
        DOCKER_TZ: "${DOCKER_TZ}"
        PUBLIC_URL: "${PUBLIC_URL}"
    volumes:
      - ./gallery:/mnt/skychat/gallery:rw
      - ./uploads/all:/mnt/skychat/uploads/all:rw
      - ./uploads/avatars:/mnt/skychat/uploads/avatars:ro
      - ./uploads/stickers:/mnt/skychat/uploads/stickers:ro
      - ./app/filebrowser/data/filebrowser.db:/app/filebrowser.db:rw
    environment:
      ADMIN_FILEBROWSER_ENABLED: "${ADMIN_FILEBROWSER_ENABLED}"
      ADMIN_FILEBROWSER_AUTH: "${ADMIN_FILEBROWSER_AUTH}"

  skychat_jellyfin:
    image: jellyfin/jellyfin
    container_name: skychat_jellyfin
    user: "${DOCKER_UID}:${DOCKER_GID}"
    volumes:
      - ./app/jellyfin/config:/config
      - jellyfin_cache:/cache
      - ./gallery:/media:ro
    environment:
      - "JELLYFIN_PublishedServerUrl=${JELLYFIN_PUBLIC_URL}"

volumes:
  skychat_letsencrypt:
  jellyfin_cache:
