http:
    routers:
        skychat_backend:
            service: skychat_backend@file
            entrypoints: web
            middlewares:
                - ratelimit-light
            rule: "Host(`{{ env "PUBLIC_HOST" }}`) && PathPrefix(`/api`)"
            {{ if env "USE_TLS" }}
            tls:
                certResolver: letsencrypt
            {{ end }}
        skychat_frontend:
            service: skychat_frontend@file
            entrypoints: web
            {{ if eq (env "MODE") "PRODUCTION" }}
            middlewares:
                - ratelimit-light
            {{ end }}
            rule: "Host(`{{ env "PUBLIC_HOST" }}`) && !PathPrefix(`/api`) && !PathPrefix(`/uploads`) && !PathPrefix(`/gallery`)"
            {{ if env "USE_TLS" }}
            tls:
                certResolver: letsencrypt
            {{ end }}
        skychat_static:
            service: skychat_static@file
            entrypoints: web
            middlewares:
                - ratelimit-light
            rule: "Host(`{{ env "PUBLIC_HOST" }}`) && (PathPrefix(`/uploads`) || PathPrefix(`/gallery`))"
            {{ if env "USE_TLS" }}
            tls:
                certResolver: letsencrypt
            {{ end }}
        {{ if eq (env "ADMIN_FILEBROWSER_ENABLED") "true" }}
        skychat_admin_filebrowser:
            service: skychat_admin_filebrowser@file
            entrypoints: web
            middlewares:
                - ratelimit-light
                - admin-auth
            rule: "Host(`{{ env "ADMIN_FILEBROWSER_HOST" }}`) && !(PathPrefix(`/filebrowser/share`) || PathPrefix(`/filebrowser/api/public`) || PathPrefix(`/filebrowser/api/login`) || PathPrefix(`/filebrowser/static/`))"
            {{ if env "USE_TLS" }}
            tls:
                certResolver: letsencrypt
            {{ end }}
        skychat_admin_filebrowser_shared:
            service: skychat_admin_filebrowser@file
            entrypoints: web
            middlewares:
                - ratelimit-light
            rule: "Host(`{{ env "ADMIN_FILEBROWSER_HOST" }}`) && (PathPrefix(`/filebrowser/share`) || PathPrefix(`/filebrowser/api/public`) || PathPrefix(`/filebrowser/api/login`) || PathPrefix(`/filebrowser/static/`))"
            {{ if env "USE_TLS" }}
            tls:
                certResolver: letsencrypt
            {{ end }}
        {{ end }}
        skychat_jellyfin:
            service: skychat_jellyfin@file
            entrypoints: web
            middlewares:
                - ratelimit-ultralight
            rule: "Host(`{{ env "JELLYFIN_HOST" }}`)"
            {{ if env "USE_TLS" }}
            tls:
                certResolver: letsencrypt
            {{ end }}
    middlewares:
        ratelimit-ultralight:
            rateLimit:
                average: 150
                burst: 50
                {{ if env "TRUSTED_IP_HEADER" }}
                sourceCriterion:
                    requestHeaderName: {{ env "TRUSTED_IP_HEADER" }}
                {{ end }}
        ratelimit-light:
            rateLimit:
                average: 60
                burst: 20
                {{ if env "TRUSTED_IP_HEADER" }}
                sourceCriterion:
                    requestHeaderName: {{ env "TRUSTED_IP_HEADER" }}
                {{ end }}
        admin-auth:
            basicAuth:
                users:
                    - "{{ env "ADMIN_FILEBROWSER_AUTH" }}"
    services:
        skychat_backend:
            loadBalancer:
                servers:
                    - url: "http://skychat_backend"
        skychat_frontend:
            loadBalancer:
                servers:
                    - url: "http://skychat_frontend"
        skychat_static:
            loadBalancer:
                servers:
                    - url: "http://skychat_static"
        {{ if eq (env "ADMIN_FILEBROWSER_ENABLED") "true" }}
        skychat_admin_filebrowser:
            loadBalancer:
                servers:
                    - url: "http://skychat_admin_filebrowser"
        {{ end }}
        skychat_jellyfin:
            loadBalancer:
                servers:
                    - url: "http://skychat_jellyfin:8096"
