{
    "minRightForMessageHistory": -1,
    "minRightForPrivateMessages": -1,
    "minRightForAudioRecording": -1,
    "minRightForConnectedList": -1,
    "minRightForPolls": -1,
    "minRightForGalleryRead": 0,
    "minRightForGalleryWrite": "op",
    "minRightForPlayerAddMedia": 0,
    "minRightForPlayerManageSchedule": "op",
    "maxReplacedImagesPerMessage": 50,
    "maxReplacedStickersPerMessage": 50,
    "maxNewlinesPerMessage": 20
}
