@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-skygray-white: 244 244 255;
        --color-skygray-lightest: 160 160 160;
        --color-skygray-lighter: 115 115 115;
        --color-skygray-light: 84 84 88;
        --color-skygray-casual: 61 61 61;
        --color-skygray-dark: 40 40 40;
        --color-skygray-darker: 17 17 17;
        --color-skygray-black: 0 0 3;


        --color-primary: 119 155 233;
        --color-primary-light: 182 200 244;
        --color-secondary: 161 111 218;
        --color-secondary-light: 211 173 255;
        --color-tertiary: 250 88 182;
        --color-tertiary-light: 247 166 219;
        
        --color-info: 119 155 233;
        --color-info-light: 182 200 244;
        --color-warn: 228 159 77;
        --color-warn-light: 244 175 125;
        --color-danger: 255 69 103;
        --color-danger-light: 255 120 150;

        --color-scrollbar-track: #34343422;
        --color-scrollbar-thumb: rgba(78, 78, 78, 0.5);
        --color-scrollbar-thumb-hover: #888;
    }
}


/** Firefox */
.scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}
.scrollbar:hover {
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}

/** Chrome */
.scrollbar::-webkit-scrollbar { width: 0.5rem; }
.scrollbar::-webkit-scrollbar-track { background: transparent; }
.scrollbar::-webkit-scrollbar-thumb { background: transparent; }
.scrollbar::-webkit-scrollbar-thumb:hover { background: transparent; }
.scrollbar:hover::-webkit-scrollbar-track { background: var(--color-scrollbar-track); }
.scrollbar:hover::-webkit-scrollbar-thumb { background: var(--color-scrollbar-thumb); }
.scrollbar:hover::-webkit-scrollbar-thumb:hover { background: var(--color-scrollbar-thumb-hover); }
@media (hover: hover) {
    .scrollbar:hover::-webkit-scrollbar-track { background: var(--color-scrollbar-track); }
    .scrollbar:hover::-webkit-scrollbar-thumb { background: var(--color-scrollbar-thumb); }
    .scrollbar:hover::-webkit-scrollbar-thumb:hover { background: var(--color-scrollbar-thumb-hover); }
}

/* Form element */
.form-control {
    @apply inline-block rounded-2xl bg-skygray-dark/25 hover:bg-skygray-casual/25 px-4 py-2 placeholder-skygray-lighter text-skygray-white;
    @apply transition-all;
}

/* Button */
.btn {
    @apply rounded-lg px-2 py-1 border-2 border-skygray-light bg-skygray-casual/25 hover:bg-skygray-light/25 transition;
}
.btn.active {
    @apply bg-skygray-light/50;
}
.btn.disabled {
    @apply pointer-events-none text-skygray-dark/50 bg-skygray-dark/25;
}

/* Button group */
.btn-group {
    @apply border-2 border-skygray-light/50 rounded-lg flex overflow-hidden;
}
.btn-group > .btn {
    @apply border-0 rounded-none grow;
}
.btn-group > .btn:nth-child(1) {
}
.btn-group > .btn:not(:nth-last-child(1)) {
    @apply border-r-2 border-skygray-casual/25;
}
.btn-group > .btn:nth-last-child(1) {
}

body {
    color: white;
    background: black;
    height: 100%;
    height: 100vh;
    overflow: hidden;

    --page-max-width: 1640px;
    --page-col-left-width: 260px;
    --page-col-right-width: 340px;

    font-family: 'Lato', sans-serif;

    background-image: url('/assets/background.png');
    background-size: cover;
}

#app {
    height: 100%;
}


/* Sticker */
.skychat-sticker {
    @apply inline-block align-baseline;
    max-width: 80px;
    max-height: 80px;
}

/* RisiBank Sticker */
.skychat-risibank-sticker {
    @apply inline-block align-baseline;
    width: 90px;
    height: 60px;
}
.skychat-risibank-sticker > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* Image */
.skychat-image {
    @apply inline-block align-baseline;
    width: 120px;
    height: 80px;
}
.skychat-image > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.skychat-button {
    padding: 2px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid #777777;
    cursor: pointer;
}
.skychat-button .skychat-button-info {
    color: #f3aaaa;
}

.skychat-link {
    text-decoration: none;
    color: white;
}

.skychat-table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.skychat-table tr {
    border-bottom: 1pt solid #4e4e4e;

}
.skychat-table tr td,
.skychat-table tr th {
    padding: 2px;
}
