#modals {
    @apply fixed top-0 left-0 w-full h-full mt-[var(--page-header-height)];
    @apply pointer-events-none;
}

#modals #modal-container {
    @apply relative h-[calc(100vh-var(--page-header-height))] mx-auto w-full max-w-[var(--page-max-width)] transition-all;
}

#modals #modal-container:not(:empty) {
    @apply backdrop-grayscale backdrop-blur;
    @apply pointer-events-auto;
}

#modals #modal-container .modal {
    @apply transition-all absolute top-0 right-0 bg-secondary/10 backdrop-blur-2xl p-4;
    @apply h-full w-full lg:w-[var(--modal-width)];
    @apply pointer-events-auto;
}

#modals #modal-container .modal:nth-child(1) { z-index: 29; }
#modals #modal-container .modal:nth-child(2) { z-index: 28; }
#modals #modal-container .modal:nth-child(3) { z-index: 27; }
#modals #modal-container .modal:nth-child(4) { z-index: 26; }
#modals #modal-container .modal:nth-child(5) { z-index: 25; }
#modals #modal-container .modal:nth-child(6) { z-index: 24; }
#modals #modal-container .modal:nth-child(7) { z-index: 23; }
#modals #modal-container .modal:nth-child(8) { z-index: 22; }
#modals #modal-container .modal:nth-child(9) { z-index: 21; }

#modals #modal-container .modal:not(:nth-child(1)) {
    opacity: 0;
}
