@import 'abstract/util.scss';

$break-point-mobile: 800px;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    display: flex;
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-size: 100%;
    background: #000000 url(/assets/background.svg) no-repeat fixed bottom;
}


/**
 * Patch for mobile users
 */
.show-mobile { display: none !important; }
@media screen and (max-width: $break-point-mobile) {

    .show-mobile { display: unset !important; }
    .hide-mobile { display: none !important; }

    .mobile-page-middle {
        .hide-mobile-middle { display: none !important; }
    }
    .mobile-page-right {
        .hide-mobile-right { display: none !important; }
    }
    .mobile-page-left {
        .hide-mobile-left { display: none !important; }
    }

    .mobile-page-right,
    .mobile-page-left {

        .default-container > .left {
            flex-basis: 100% !important;
            padding: 0 10px 0 10px;
        }

        .default-container > .right {
            flex-basis: 100% !important;
            padding: 0 0 0 10px;
        }

        .default-container > .right {
            .connected-session .motto {
                flex-basis: calc(100% - 90px)!important;
            }
        }
    }
}


.image-bubble {
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    >img {
        object-fit: cover;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.scrollbar,
.tui-full-calendar-timegrid-container,
.tui-full-calendar-dayname-container {

    /** Firefox */
    scrollbar-color: #555 #343434;
    scrollbar-width: 10px;
    &:hover {
        scrollbar-color: #888 #343434;
    }

    /** Chrome */
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #343434;
    }
    &::-webkit-scrollbar-thumb {
        background: #555;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

.skychat-halo-preview {
    border: 1px solid white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    margin-right: 4px;
}

.skychat-sticker {
    max-width: 80px;
    max-height: 80px;
}

.skychat-risibank-sticker > img {
    max-width: 100px;
    max-height: 100px;
}

.skychat-image {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.skychat-button {
    padding: 4px;
    background-color: transparent;
    color: white;
    border: 1px solid #777777;
    cursor: pointer;

    .skychat-button-info {
        color: #f3aaaa;
    }
}

.skychat-link {
    text-decoration: none;
    color: white;
}

.skychat-table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1pt solid #4e4e4e;

        td,th {
            padding: 2px;
        }
    }
}

.form-control {
    width: 100%;
    position: relative;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #fff;
    background: transparent;
    margin: 0.5em 0 0.5em 0;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-family: Work Sans,sans-serif;
    outline: none;
}
.form-submit {
    margin: .5em 0 .5em 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    color: white;
    display: inline-block;
    cursor: pointer;
    background: #3c9adf;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Work Sans,sans-serif;
}

/**
 * vue-js-modal
 */
body .vm--modal {
    background: #18191c;
    color: #fff;
    padding: 10px;
    border: 1px solid white;
}

.title {
    text-transform: uppercase;
    font-size: 12px;
    color: grey;
    margin-top: 2px;
    margin-bottom: 2px;

    &.clickable {
        cursor: pointer;
    }

    .title-icon {
        vertical-align: bottom;
    }
}

* {
    user-select: none;
}

.selectable, .selectable * {
    user-select: text;
}
