@import 'abstract/util.scss';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-size: 100%;
    background: #1d1e21 url(/assets/background.svg) no-repeat fixed bottom;
}

.image-bubble {
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    >img {
        object-fit: cover;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #343434;
    }
    &::-webkit-scrollbar-thumb {
        background: #555;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

.skychat-sticker {
    max-width: 80px;
    max-height: 80px;
}

.skychat-image {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.skychat-link {
    text-decoration: none;
    color: white;
}

.form-control {
    width: 100%;
    position: relative;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #fff;
    background: transparent;
    margin: 0.5em 0 0.5em 0;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-family: Work Sans,sans-serif;
    outline: none;
}
.form-submit {
    margin: .5em 0 .5em 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    color: white;
    display: inline-block;
    cursor: pointer;
    background: #3c9adf;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Work Sans,sans-serif;
}
